.box
  .box-header
    %h3.box-title= Invite.model_name.human(count: 2)
    .box-tools.pull-right
      %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
        = icon 'minus'
  / /.box-header
  .box-body.no-padding
    %table.table.table-hover
      %tbody
        %tr
          %th Gruppe
          %th Absender
          %th Datum
          %th
        - if @invites.any?
          - @invites.group_by(&:group).each do |group, invites|
            - invite = invites.first
            %tr
              %td= invite.group_name
              %td= invite.sender.name
              %td= l invite.created_at.to_date
              %td
                .btn-toolbar
                  = link_to [:decline, invite], remote: true, class: 'btn btn-danger' do
                    Ablehnen
                  = link_to [:accept, invite], remote: true, class: 'btn btn-success' do
                    Akzeptieren
        - else
          %tr
            %td.text-center{ colspan: 4 } Keine Einladungen vorhanden.
  / /.box-body
