.row
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-aqua
        = icon 'check-circle-o'
      .info-box-content
        %span.info-box-text Mitglied seit
        %span.info-box-number
          = l current_user.created_at.to_date
      / /.info-box-content
    / /.info-box
  / /.col
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-yellow
        = icon 'object-group'
      .info-box-content
        %span.info-box-text= Group.model_name.human(count: 2)
        %span.info-box-number= current_user.groups.count
      / /.info-box-content
    / /.info-box
  / /.col
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-green
        = icon 'users'
      .info-box-content
        %span.info-box-text Freunde
        %span.info-box-number
          = current_user.friends.count
      / /.info-box-content
    / /.info-box
  / /.col
  / fix for small devices only
  .clearfix.visible-sm-block
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-red
        = icon 'money'
      .info-box-content
        %span.info-box-text Buchungen
        %span.info-box-number
          = @user_report.entries.count
      / /.info-box-content
    / /.info-box
  / /.col
  .col-md-12.col-sm-12.col-xs-12
    .box.box-primary
      .box-header.with-border
        %h3.box-title= Entry.model_name.human(count: 2)
        .box-tools.pull-right
          %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
            = icon 'minus'
      .box-body
        = line_chart dashboard_path, @user_report.chart_options
      / /.box-body
      .box-footer
        .row
          .col-sm-4.col-xs-12
            .description-block.border-right
              %h5.description-header.text-blue= number_to_currency @user_report.total_balance
              %span.description-text Kontostand
            / /.description-block
          / /.col
          .col-sm-4.col-xs-12
            .description-block.border-right
              %h5.description-header.text-green= number_to_currency current_user.credits.where.not(debtor: current_user).sum("amount_cents/100.0")
              %span.description-text Kredite
            / /.description-block
          / /.col
          .col-sm-4.col-xs-12
            .description-block.border-right
              %h5.description-header.text-red= number_to_currency current_user.debts.where.not(creditor: current_user).sum("amount_cents/100.0")
              %span.description-text Schulden
            / /.description-block
          / /.col

      / /.box-footer
