- messages.each do |message|
  %p
    - if message.body
      %strong= message.user.name
      %br
      %span.direct-chat-timestamp.pull-left
        = icon 'clock-o'
        = l message.created_at, format: :short
      %br
      = simple_format message.body
- if @over_ten
  = link_to 'Show Previous', '?m=all', remote: true
