- messages.each do |message|
  - if message.body
    - user = User.find(message.user_id)
    %strong= user.name
    %br
    %span.direct-chat-timestamp.pull-left
      = icon 'clock-o'
      = l message.created_at, format: :short
    %br
    = message.body
- if @over_ten
  = link_to 'Show Previous', '?m=all', remote: true
