- if @conversation.sender_id == current_user.id
  - recipient = User.find(@conversation.recipient_id)
- else
  - recipient = User.find(@conversation.sender_id)
.box
  .box-header
    %h3.box-title
      Unterhaltung mit
      = recipient.name
    .box-tools.pull-right
      %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
        = icon 'minus'
  / /.box-header
  .box-body
    = simple_form_for [@conversation, @message] do |f|
      .field
        = f.input :body, autofocus: true, label: false, input_html: { rows: 3 }
        = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
      .btn-toolbar.pull-right
        = link_to :back, class: 'btn btn-default' do
          Zurück
        = button_tag type: 'submit', class: 'btn btn-info submit-form' do
          = t('actions.send', model: Message.model_name.human)
    .messages
      = render 'messages', messages: @messages

  / /.box-body
