.login-box
  .login-logo
    %b> Split
    My
    %b> Bill
  / /.login-logo
  .login-box-body
    %p.login-box-msg= t('.sign_up', :default => "Sign up")
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f|
      = f.input :invite_token, as: :hidden, input_html: { value: @token }
      .row
        .col-md-12
          = f.input :email, label: false, placeholder: User.human_attribute_name(:email), autofocus: true, required: true, input_html: { value: @email }
          = icon('envelope fa-fw', class: 'field-addon')
        .col-md-12
          = f.input :first_name, label: false, placeholder: User.human_attribute_name(:first_name)
          = icon('user fa-fw', class: 'field-addon')
        .col-md-12
          = f.input :last_name, label: false, placeholder: User.human_attribute_name(:last_name)
          = icon('user fa-fw', class: 'field-addon')
        .col-md-12
          = f.input :password, label: false, placeholder: User.human_attribute_name(:password)
          = icon('lock fa-fw', class: 'field-addon')
        .col-md-12
          = f.input :password_confirmation, label: false, placeholder: User.human_attribute_name(:password_confirmation)
          = icon('lock fa-fw', class: 'field-addon')
        .col-md-12
          .btn-toolbar
            = button_tag type: 'submit', class: 'btn btn-primary' do
              = t('.sign_up', default: "Sign up")
    .devise-links
      = render "devise/shared/links"
  / /.login-box-body
/ /.login-box
