= simple_form_for(entry, url: [group, entry], remote: true) do |f|
  .row
    .col-md-6
      = f.input :name, autofocus: true
      = f.input :entry_type, as: :hidden
      = f.input :amount, input_html: { data: { role: 'money', a_sep: '.', a_dec: ',' } }, required: true
    .col-md-6
      = f.input :user_ids, as: :check_boxes, collection: group.users, checked: (entry.user_ids || group.users.map(&:id))

:coffee
  $ ->
    $('input[data-role=money]').autoNumeric('init')

    $('#entry_amount').focus ->
      $(this).val('') if $(this).val() == '0,00'
    $('#entry_amount').blur ->
      $(this).val('0,00') if $(this).val() == ''

  $('#new_entry').submit ->
    $('.btn.submit-form:not(disabled)').addClass('disabled').prop("disabled", true)
  $('.btn.submit-form').removeClass('disabled').prop("disabled", false)
