%table.table.table-bordered.table-hover.display.responsive.nowrap#entries{ width: "100%" }
  %thead
    %tr
      %th.col-md-2 Datum
      %th.col-md-2 Betrag
      %th.col-md-4 Verwendungszweck
      %th.col-md-3 Personen
      %th.col-md-1.no-sort
  %tbody
    - group.entries.order(created_at: :desc).each do |entry|
      %tr{ data: { id: entry.id } }
        %td
          %span= l entry.created_at.to_date
        %td
          %span.badge= humanized_money_with_symbol entry.amount
        %th
          = entry.name
        %td
          = entry.creditor_names.to_sentence
          = icon 'long-arrow-right'
          - if entry.debtor_names.size == @group.memberships.count
            Alle
          - else
            = entry.debtor_names.to_sentence
        %td{ data: { order: false } }
          = link_to 'Löschen', group_entry_path(group, entry), data: { confirm: 'Buchung wirklich löschen?', commit: 'Löschen' }, class: 'btn btn-default btn-action', method: :delete
:coffee
  $.fn.dataTable.moment( 'DD.MM.YYYY' );
  $('#entries').DataTable
    destroy: true
    responsive: true
    order: [[ 0, "desc" ]]
    dom: 'Bfrtip'
    pagingType: 'simple'
    pageLength: 10
    columnDefs: [
      targets: 'no-sort', orderable: false
    ]
    # select:
    #   style: 'os'
    #   info: false
    language: {
      buttons:
        pageLength:       "%d #{Entry.model_name.human(count: 2)}",
        selectAll:        "Alle auswählen",
        selectNone:       "Auswahl aufheben"
      sEmptyTable:        "Keine Daten in der Tabelle vorhanden",
      sInfo:              "_START_ bis _END_ von _TOTAL_ #{Entry.model_name.human(count: 2)}",
      sInfoEmpty:         "0 bis 0 von 0 #{Entry.model_name.human(count: 2)}",
      sInfoFiltered:      "(gefiltert von _MAX_ #{Entry.model_name.human(count: 2)})",
      sInfoPostFix:       "",
      sInfoThousands:     ".",
      sLengthMenu:        "_MENU_ #{Entry.model_name.human(count: 2)} anzeigen",
      sLoadingRecords:    "Wird geladen...",
      sProcessing:        "Bitte warten...",
      sSearch:            "Suchen",
      sZeroRecords:       "Keine #{Entry.model_name.human(count: 2)} vorhanden.",
      oPaginate: {
        sFirst:           "<i class='fa fa-chevron-left'></i><i class='fa fa-chevron-left'></i>",
        sPrevious:        "<i class='fa fa-chevron-left'></i>",
        sNext:            "<i class='fa fa-chevron-right'></i>",
        sLast:            "<i class='fa fa-chevron-right'></i><i class='fa fa-chevron-right'></i>"
      }
    }
