.row
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-red
        = icon 'money'
      .info-box-content
        %span.info-box-text Gesamtkosten
        %span.info-box-number= @group.report.expenses_sum
      / /.info-box-content
    / /.info-box
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-yellow
        = icon 'users'
      .info-box-content
        %span.info-box-text ø Kosten / Person
        %span.info-box-number= @group.report.expenses_avg
      / /.info-box-content
    / /.info-box
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-green
        = icon 'calendar'
      .info-box-content
        %span.info-box-text Erste Ausgabe
        %span.info-box-number= @group.report.first_expense
      / /.info-box-content
    / /.info-box
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-blue
        = icon 'calendar'
      .info-box-content
        %span.info-box-text Letzte Ausgabe
        %span.info-box-number= @group.report.last_expense
      / /.info-box-content
    / /.info-box
