.row
  .col-md-7
    %table.table.table-hover.table-bordered
      %tbody
        - group.memberships.each do |membership|
          %tr.clickable-row{ data: { href: user_path(membership.user) } }
            %td.col-md-1.text-center= image_tag membership.user.avatar_url, class: 'img-circle img-table'
            %td.col-md-8
              = membership.user.name
              = render 'shared/online_status', user: membership.user
            %td.col-md-1
              - if membership.user.is_admin_of(group)
                %span.badge.bg-blue{ data: { 'original-title' => 'Gruppenadministrator', toggle: 'tooltip' } }
                  A
            %td.col-md-2.text-right
              = render 'shared/formatted_balance', amount: membership.balance
  .col-md-5
    #chart
      = line_chart get_chart_data_group_path(group), group.report.chart_options

:coffee
  $('.clickable-row').click ->
    window.document.location = $(this).data('href')
