.box
  .box-header.with-border
    %h3.box-title Gruppe
  / /.box-header
  .box-body
    = render 'form', group: @group
  / /.box-body
  .box-footer
    = link_to groups_path, class: 'btn btn-default' do
      = t('actions.cancel').humanize
    = button_tag type: 'submit', class: 'btn btn-info pull-right submit-form' do
      = t("helpers.submit.#{(['new', 'create'].include? action_name) ? 'create' : 'update'}", model: Group.model_name.human)
  / /.box-footer

:coffee
  $ ->
    $('.submit-form').click ->
      $(this).closest('.box').find('form').submit()
