= render 'info_panel'
.row
  .col-md-12
    .box
      .box-header
        %h3.box-title
          = @group.name
        .box-tools.pull-right
          = link_to [:edit, @group], class: 'btn btn-box-tool', data: { toggle: 'modal', target: '.modal' } do
            = icon 'cog'
          %button.btn.btn-box-tool{ data: { widget: :collapse }, type: :button }
            %i.fa.fa-minus
      / /.box-header
      .box-body.no-padding
        = link_to [:new, @group, :entry], class: 'btn btn-app', data: { toggle: 'modal', target: '.modal' } do
          %span.badge.bg-green
            +
          = icon 'file-text'
          Neue Buchung
        = link_to [:new, @group, :comment], class: 'btn btn-app', data: { toggle: 'modal', target: '.modal' } do
          %span.badge.bg-green
            +
          = icon 'comment'
          Kommentar
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.active
              = link_to '#tab_users', data: { toggle: 'tab' } do
                = User.model_name.human(count: 2)
            %li
              = link_to '#tab_entries', data: { toggle: 'tab' } do
                Buchungen
            - if current_membership.liabilities.count > 0
              %li
                = link_to '#tab_refund', data: { toggle: 'tab' } do
                  Zurückzahlen
            %li
              = link_to '#tab_comments', data: { toggle: 'tab' } do
                Kommentare
          .tab-content
            #tab_users.tab-pane.active
              = render 'usertable', group: @group
            / /.tab-pane
            #tab_entries.tab-pane
              = render 'entrytable', group: @group
            / /.tab-pane
            - if current_membership.liabilities.count > 0
              #tab_refund.tab-pane
                %table.table.table-bordered.table-hover
                  %tbody
                    - current_membership.liabilities.keys.each do |user|
                      %tr
                        %td= user.name
                        %td
                          %span.label.label-default= humanized_money_with_symbol current_membership.liabilities[user]/100.0
              / /.tab-pane
            #tab_comments.tab-pane
              = render 'comments/comments'
          / /.tab-content
      / /.box-body
  - if @activities.any?
    .col-md-12#activity-feed
      = render 'activities', group: @group, activities: @activities

  .col-md-6
    .box
      .box-header
        %h3.box-title= [@group.name, Invite.model_name.human(count: 2)].merge_with(" - ")
      / /.box-header
      .box-body
        = simple_form_for @invite, url: invites_path, remote: :true do |f|
          = f.input :group_id, as: :hidden, value: @invite.group_id
          = f.input :email
          = f.button :submit, class: 'pull-right'
      / /.box-body
