#info_panel
  = render 'info_panel', group: @group
.row
  .col-md-12
    .box
      .box-header
        %h3.box-title.group-name.truncate.truncate-medium
          = @group.name
        .box-tools.pull-right
          //- if can? :destroy, @group
          // TODO Fix Modal class
          - if false
            = link_to @group, method: :delete, data: { confirm: 'Mit dem Löschen dieser Gruppe gehen alle Buchungen, Schulden und Kredite verloren.', verify: 'LÖSCHEN', verify_text: 'Tippe hier "LÖSCHEN" um den Vorgang zu bestätigen', commit: 'Löschen' }, class: 'btn btn-box-tool' do
              = icon 'trash'
          = link_to [:edit, @group], class: 'btn btn-box-tool', data: { toggle: 'modal', target: '.modal' } do
            = icon 'cog'
          %button.btn.btn-box-tool{ data: { widget: :collapse }, type: :button }
            %i.fa.fa-minus
      / /.box-header
      .box-body.no-padding
        = link_to [:new, @group, :entry, entry_type: 'expense'], class: 'btn btn-app', data: { toggle: 'modal', target: '.modal', backdrop: 'static' } do
          = icon 'file-text'
          Buchung
        = link_to [:new, @group, :comment], class: 'btn btn-app', data: { toggle: 'modal', target: '.modal', backdrop: 'static' } do
          = icon 'comment'
          Kommentar
        = link_to [:new, :invite, group_id: @group.id], class: 'btn btn-app', data: { toggle: 'modal', target: '.modal', backdrop: 'static' } do
          = icon 'envelope'
          Einladung
        .select-wrapper
          %select.form-control#tab-select.hidden-md.hidden-lg
            %option.users.show{ value: "#tab_users" } Übersicht
            %option.entries.show{ value: "#tab_entries" } Buchungen
            %option.refund.show{ value: "#tab_refund" } Zurückzahlen
            %option.comments.show{ value: "#tab_comments" } Kommentare
        .nav-tabs-custom
          %ul.nav.nav-tabs.nav-justified.hidden-xs.hidden-sm
            %li.active
              = link_to '#tab_users', data: { toggle: 'tab', tabtarget: 'users', href: group_path(@group) } do
                Übersicht
            %li
              = link_to '#tab_entries', data: { toggle: 'tab', tabtarget: 'entries', href: group_path(@group) } do
                Buchungen
            %li
              = link_to '#tab_refund', data: { toggle: 'tab', tabtarget: 'refund', href: group_path(@group) } do
                Zurückzahlen
            %li
              = link_to '#tab_comments', data: { toggle: 'tab', tabtarget: 'comments', href: group_path(@group) } do
                Kommentare
          .tab-content
            #tab_users.tab-pane.active.fade.in
              = render 'usertable', group: @group
            / /.tab-pane
            #tab_entries.tab-pane.fade
            / /.tab-pane
            #tab_refund.tab-pane.fade
            / /.tab-pane
            #tab_comments.tab-pane.fade
          / /.tab-content
      / /.box-body
  - if @activities.any?
    .col-md-12#activity-feed
      = render 'activities', group: @group, activities: @activities

:coffee
  $(".nav-tabs a[href='#tab_users']").tab('show')

  $('select#tab-select').change ->
    href = this.options[this.selectedIndex].value
    $(".nav-tabs a[href='" + href + "']").tab('show')

  $('a[data-toggle="tab"]').on 'shown.bs.tab', (e) ->
    target = $(this).data('tabtarget')
    href = $(this).data('href')
    if target == 'users'
      $('#chart-1').highcharts().reflow()
    if ($('#tab_'+target).is(':empty')) or ($('#tab_'+target)).find(">:first-child").hasClass('loading-partial')
      $('#tab_'+target).html("#{j render 'loading'}")
      $.ajax
        type: 'GET'
        url: href
        data: tab: target
        dataType: 'script'
