= render 'info_panel'
.row
  .col-md-12
    .box
      .box-header
        %h3.box-title= @group.name
        .box-tools.pull-right
          = link_to [:edit, @group], class: 'btn btn-box-tool', data: { toggle: 'modal', target: '.modal' } do
            = icon 'cog'
          %button.btn.btn-box-tool{ data: { widget: :collapse }, type: :button }
            %i.fa.fa-minus
      / /.box-header
      .box-body.no-padding#usertable
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.active
              %a{ data: { toggle: 'tab' }, href: '#tab_users' }= User.model_name.human(count: 2)
            %li
              %a{ data: { toggle: 'tab' }, href: '#tab_entries' } Buchungen
            - if current_membership.liabilities.count > 0
              %li
                %a{ data: { toggle: 'tab' }, href: '#tab_refund' } Zurückzahlen
            %li.dropdown
              %a.dropdown-toggle{ data: { toggle: 'dropdown' }, href: "#"}
                Report
                %span.caret
              %ul.dropdown-menu
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
                %li.divider{:role => "presentation"}
                %li{:role => "presentation"}
                  %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
            %li
              = link_to [:new, @group, :entry], data: { toggle: 'modal', target: '.modal' } do
                Neue Buchung
          .tab-content
            #tab_users.tab-pane.active
              = render 'usertable', group: @group
            / /.tab-pane
            #tab_entries.tab-pane
              = render 'entrytable', group: @group
            / /.tab-pane
            - if current_membership.liabilities.count > 0
              #tab_refund.tab-pane
                %table.table.table-bordered.table-hover
                  %tbody
                    - current_membership.liabilities.keys.each do |user|
                      %tr
                        %td= user.name
                        %td
                          %span.label.label-default= humanized_money_with_symbol current_membership.liabilities[user]/100.0
              / /.tab-pane
          / /.tab-content
      / /.box-body
  .col-md-12#activity-feed
    = render 'activities', group: @group, activities: @activities

  .col-md-6
    .box
      .box-header
        %h3.box-title= [@group.name, Invite.model_name.human(count: 2)].merge_with(" - ")
      / /.box-header
      .box-body
        = simple_form_for @invite, url: invites_path, remote: :true do |f|
          = f.input :group_id, as: :hidden, value: @invite.group_id
          = f.input :email
          = f.button :submit
      / /.box-body
