.row
  .col-md-6.col-centered
    .box.box-primary
      .box-body.box-profile
        = image_tag @user.avatar_url, class: 'profile-user-img img-responsive img-circle'
        %h3.profile-username.text-center= @user.name
        %p.text-muted.text-center= @user.email
        %ul.list-group.list-group-unbordered
          %li.list-group-item
            %b Aktive Gruppen
            %a.pull-right= @user.groups.count
          %li.list-group-item
            %b Freunde
            %a.pull-right= @user.friends.count
          %li.list-group-item
            %b Zuletzt online
            %a.pull-right= l @user.last_seen.to_date
          %li.list-group-item
            %b Mitglied seit
            %a.pull-right= l @user.created_at.to_date
        = link_to '#', class: 'btn btn-primary btn-block' do
          %b Nachricht senden
    / /.box-body
    = link_to :back, class: 'pull-right' do
      Zurück
