.login-box
  .login-logo
    %b> Split
    My
    %b> Bill
  / /.login-logo
  .login-box-body
    %p.login-box-msg= t('.change_your_password', :default => 'Change your password')
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.input :reset_password_token, as: :hidden
      .row
        .col-md-12
          = f.input :password, label: false, placeholder: t('.new_password', default: 'New password'), autofocus: true
          = icon('lock fa-fw', class: 'field-addon')
        .col-md-12
          = f.input :password_confirmation, label: false, placeholder: t('.confirm_new_password', default: 'Confirm new password')
          = icon('lock fa-fw', class: 'field-addon')
        .col-md-12
          = button_tag type: 'submit', class: 'btn btn-primary' do
            = t('.change_my_password', default: 'Change my password')
    .devise-links
      = render "devise/shared/links"
  / /.login-box-body
/ /.login-box
