- content_for :title, 'Gruppeneinladung'
%p
  = "Hallo #{@invite.recipient.first_name},"
%p
  = "du wurdest von #{@invite.sender.name} zur Gruppe \"#{@invite.group_name}\" eingeladen!"
  Um der Gruppe beizutreten folge diesem Link:
  = succeed '.' do
    - url = "#{root_url}#{invites_path.sub!(/^\//, '')}"
    = link_to url, url, target: "_blank", style: "text-decoration: none; color: #367fa9; font-weight: bold;"
%p
  Viel Spaß mit SplitMyBill
