.login-box
  .login-logo
    %b> Split
    My
    %b> Bill
  / /.login-logo
  .login-box-body
    %p.login-box-msg= t('.sign_in', :default => "Sign in")
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), validate: true) do |f|
      .row
        .col-md-12
          = f.input :email, label: false, placeholder: User.human_attribute_name(:email), autofocus: true, validate: { uniqueness: false }
          = icon('envelope fa-fw', class: 'field-addon')
        .col-md-12
          = f.input :password, label: false, placeholder: User.human_attribute_name(:password)
          = icon('lock fa-fw', class: 'field-addon')
        - if devise_mapping.rememberable?
          .col-md-8
            = f.input :remember_me, as: :boolean
        .col-md-4
          = button_tag type: 'submit', class: 'btn btn-primary' do
            = t('.sign_in', default: "Sign in")
    .devise-links
      = render "devise/shared/links"
  / /.login-box-body
/ /.login-box
