%li.activity
  = icon 'check', class: 'bg-blue'
  .timeline-item
    %span.time
      = icon 'clock-o'
      = l activity.created_at, format: :abbr_day
    %h3.timeline-header.no-border
      = link_to activity.owner do
        = activity.owner.name
      ist der Gruppe beigetreten.
