%li.activity
  = icon 'envelope', class: 'bg-blue'
  .timeline-item
    %span.time
      = icon 'clock-o'
      = l activity.created_at
    %h3.timeline-header.no-border
      = link_to activity.trackable.sender do
        = activity.trackable.sender.name
      hat
      - if activity.trackable.recipient
        = link_to activity.trackable.recipient do
          = activity.trackable.recipient.name
      - else
        = activity.trackable.email
      in die Gruppe eingeladen.
