%li.activity
  = icon 'envelope', class: 'bg-blue'
  .timeline-item
    %span.time
      = icon 'clock-o'
      = l activity.created_at
    %h3.timeline-header.no-border
      = link_to activity.trackable.sender do
        = activity.trackable.sender.name
      hat
      - if activity.trackable.recipient
        = link_to activity.trackable.recipient do
          = activity.trackable.recipient.name
      - else
        - group_users = activity.trackable.group.users
        - if group_users.exists?(email: activity.trackable.email)
          - group_user = group_users.find_by(email: activity.trackable.email)
          = link_to group_user do
            = group_user.name
        - else
          = activity.trackable.email
      in die Gruppe eingeladen.
