%li.activity
  = icon 'envelope', class: 'bg-blue'
  .timeline-item
    %span.time
      = icon 'clock-o'
      = l activity.created_at
    %h3.timeline-header.no-border
      = activity.trackable.sender.name
      hat
      = activity.trackable.recipient ? activity.trackable.recipient.name : activity.trackable.email
      eingeladen.
