%header.main-header
  / Logo
  = link_to root_path, class: 'logo' do
    / mini logo for sidebar mini 50x50 pixels
    %span.logo-mini
      %b> S
      M
      %b> B
    / logo for regular state and mobile devices
    %span.logo-lg
      %b> Split
      My
      %b> Bill
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    - if @group && @group.persisted?
      = link_to group_path(@group), class: 'group-title' do
        = @group.name
    / Navbar Right Menu
    .navbar-custom-menu
      %ul.nav.navbar-nav
        / Messages: style can be found in dropdown.less
        - if current_user
          %li.dropdown.messages-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-envelope-o
              %span.label.label-success= current_user.invitations.pending.count
            %ul.dropdown-menu
              %li.header= "#{current_user.invitations.pending.count} Einladungen"
              %li
                / inner menu: contains the actual data
                .slimScrollDivx{:style => "position: relative; overflow: hidden; width: auto; height: 200px;"}
                  %ul.menu{:style => "overflow: hidden; width: 100%; height: 200px;"}
                    - current_user.invitations.pending.each do |invitation|
                      = render '/shared/invitation_list_item', invite: invitation
              %li.footer
                %a{:href => "#"} See All Messages
          / User Account: style can be found in dropdown.less
          %li.dropdown.user.user-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = image_tag current_user.avatar_url, class: 'user-image'
              %span.hidden-xs= current_user.name
            %ul.dropdown-menu
              / User image
              %li.user-header
                = image_tag current_user.avatar_url, class: 'img-circle'
                %p
                  = current_user.name
                  %small
                    = t('messages.member_since')
                    = l(current_user.confirmed_at.to_date)
              / Menu Body
              %li.user-footer
                .pull-left
                  = link_to edit_user_registration_path, class: 'btn btn-default btn-flat' do
                    %i.ion-gear-b
                .pull-right
                  = link_to destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' do
                    = t('actions.sign_out').humanize
        - else
          %li.user-menu
            = link_to new_user_session_path do
              = t('actions.sign_in').humanize
