%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar{:style => "height: auto;"}
    / Sidebar user panel
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar_url, class: 'img-circle'
      .pull-left.info
        %p= current_user.name
        %a{:href => "#"}
          = icon('circle', class: 'text-success')
          Online
    / sidebar menu: : style can be found in sidebar.less
    %ul.sidebar-menu
      %li.header MAIN NAVIGATION
      %li.treeview
        %a{:href => "#"}
          %i.fa.fa-dashboard
          %span Dashboard
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "#"}
              %i.fa.fa-circle-o
              Dashboard v1
          %li
            %a{:href => "#"}
              %i.fa.fa-circle-o
              Dashboard v2
      %li
        = link_to invites_path do
          = icon 'files-o'
          %span= Invite.model_name.human(count: 2)
          - if current_user.invitations.pending.any?
            %span.label.label-success.pull-right neu
      %li.treeview#group-tree{ class: ('active' if controller_name == 'groups') }
        = link_to '#', id: 'group-button' do
          = icon('object-group')
          %span= Group.model_name.human(count: 2)
          %span.label.label-primary.pull-right= current_user.groups.count
        %ul.treeview-menu
          %li
            = form_for :group_search, html: { autocomplete: 'off', id: 'group-search-form', class: 'sidebar-form' }, url: filter_groups_path, method: :get, remote: true do |f|
              .input-group
                = f.text_field :group_name, name: 'group_name', placeholder: "Suchen...", class: 'form-control', id: 'group-search-input'
                %span.input-group-btn
                  = button_tag type: 'submit', class: 'btn btn-flat' do
                    = icon('search')
          = render 'layouts/group_list_items', groups: @groups
:coffee
  $('#group-search-input').bind 'keyup', ->
    form = $('#group-search-form')
    url = '/filter_groups'
    formData = form.serialize()
    $.get url, formData

  $('#group-button').bind 'click', ->
      $('#groups-list').show()
