!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SplitMyBill
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.skin-blue.sidebar-mini
    = render 'layouts/header'
    - if current_user
      = render 'layouts/sidebar'
    .wrapper
      .content-wrapper
        %section.content-header
          %h1
            Dashboard
            %small Version 2.0
          %ol.breadcrumb
            = render_breadcrumbs tag: :li, separator: ""
        %section.content
          = render 'shared/flash_messages'
          = yield
      = render 'layouts/footer'
    = any_login_here
