= render 'shared/head'
%body.skin-blue.sidebar-mini
  = render 'layouts/header'
  - if current_user
    = render 'layouts/sidebar'
  .wrapper
    .content-wrapper
      %section.content
        = render 'shared/flash_messages'
        = yield
      .modal.fade{ role: 'dialog', tabindex: "-1", aria: { hidden: true } }
        .modal-dialog
          .modal-content
    = render 'layouts/footer'
  - if Rails.env.development?
    = any_login_here

:coffee
  $('nav.navbar.navbar-static-top').on 'affixed.bs.affix', ->
    $('body>.wrapper').addClass('affixed')

  $(document).on 'scroll', ->
    if $(document).scrollTop() <= 50
      $('body>.wrapper').removeClass('affixed')
